{% extends 'layout.html' %}
{% block title %}{% parent %} - Game: {{ id }} {% endblock %}

{% block content %}

<h2>Game: {{ id }}</h2>

<div id="app">
    <div id="messages">

    </div>
    <div id="game" class="clearfix">
        <div id="scores" class="panel">

        </div>
        <div id="canvas">

        </div>
        <div id="controls" class="panel clearfix">

        </div>
    </div>
    <ul id="players" class="list-view">

    </ul>
</div>
{% endblock %}

{% block scripts %}
<script src="/javascripts/src/init.js"></script>

<script src="/javascripts/src/app/models/GameClient.js"></script>
<script src="/javascripts/src/app/models/Player.js"></script>
<script src="/javascripts/src/app/models/KeyListener.js"></script>
<script src="/javascripts/src/app/collections/Players.js"></script>

<script src="/javascripts/src/app/views/Messages.js"></script>
<script src="/javascripts/src/app/views/Canvas.js"></script>
<script src="/javascripts/src/app/views/Controls.js"></script>
<script src="/javascripts/src/app/views/Scores.js"></script>
<script src="/javascripts/src/app/views/Players.js"></script>

<script src="/javascripts/src/app/App.js"></script>

<script id="template-player" type="text/x-template">
    <li class="list-item player <% print(alive ? 'active' : 'disabled') %>">
        <h3 class="list-item-title"><%- name %></h3>
        <p class="list-item-info">Score: <%= score %></p>
    </li>
</script>

<script id="template-scores" type="text/x-template">
    <div id="player-score" class="key-value">
        <span class="key">Score:</span>
        <span class="value"><%= score %></span>
    </div>
</script>

<script id="template-controls" type="text/x-template">
    <div id="controls-join">
        <input name="name" type="text" id="controls-player-name" value="<%- name %>" />
        <button id="controls-join-button">Join</button>
    </div>
    <div id="controls-message">

    </div>
    <div id="controls-game">
        <button id="controls-play-pause"><%= button %></button>
    </div>
</script>
{% endblock %}